<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
		<section class="categories">
			
			<a href="/suspension" class="category-link">
				<div class="category">
					<i class="ph-fill ph-gear"></i>
					<span>Suspension</span>
				</div>
			</a>

			<a href="/electrical" class="category-link">
				<div class="category">
					<i class="ph-fill ph-car-battery"></i>
					<span>Electrical Systems</span>
				</div>
			</a>

			<a href="/brakes" class="category-link">
				<div class="category">
					<i class="ph-fill ph-tire"></i>
					<span>Brakes</span>
				</div>
			</a>

			<a href="/interior" class="category-link">
				<div class="category">
					<i class="ph-fill ph-seat"></i>
					<span>Interior Accessories</span>
				</div>
			</a>

			<a href="/engine" class="category-link">
				<div class="category">
					<i class="ph-fill ph-engine"></i>
					<span>Engine Components</span>
				</div>
			</a>
		</section>
		<input placeholder="Search for parts..." name="parts" />
		<section class="info">
			<div class="category">
				<i class="ph-fill ph-puzzle-piece"></i>
				<span>Total Parts: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-car"></i>
				<span>Car Models: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-house-line"></i>
				<span>Suppliers: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-warning"></i>
				<span>Low Stock Alerts: </span>
			</div>
		</section>
		<section class="databases">
			<div>View all parts</div>
			<div>View Inventory logs</div>
			<div>Add new Part</div>
			<div>View Car Models</div>
		</section>
	</body>
</html>
