<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Car Parts Pro</title>
	</head>
	<body>
		<header>
			<h1><i class="ph-fill ph-wrench"></i>CAR PARTS PRO</h1>
			<p>Your All-in-One Parts Inventory Tracker</p>
		</header>
		<section class="categories">
			<div class="category">
				<i class="ph-fill ph-gear"></i>
				<span>Suspension</span>
			</div>
			<div class="category">
				<i class="ph-fill ph-car-battery"></i>
				<span>Electrical Systems</span>
			</div>
			<div class="category">
				<i class="ph-fill ph-tire"></i>
				<span>Brakes</span>
			</div>
			<div class="category">
				<i class="ph-fill ph-seat"></i>
				<span>Interior Accessories</span>
			</div>
			<div class="category">
				<i class="ph-fill ph-engine"></i>
				<span>Engine Components</span>
			</div>
		</section>
		<input placeholder="Search for parts..." name="parts" />
		<section class="info">
			<div class="category">
				<i class="ph-fill ph-puzzle-piece"></i>
				<span>Total Parts: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-car"></i>
				<span>Car Models: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-house-line"></i>
				<span>Suppliers: </span>
			</div>
			<div class="category">
				<i class="ph-fill ph-warning"></i>
				<span>Low Stock Alerts: </span>
			</div>
		</section>
		<section class="databases">
			<div>View all parts</div>
			<div>View Inventory logs</div>
			<div>Add new Part</div>
			<div>View Car Models</div>
		</section>
	</body>
</html>
